---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prometheus
  namespace: observability
spec:
  interval: 1h
  chart:
    spec:
      chart: prometheus
      version: "28.x"
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: observability
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    server:
      retention: 7d
      persistentVolume:
        enabled: true
        storageClass: longhorn
        size: 10Gi
      extraFlags:
        - web.enable-remote-write-receiver
    alertmanager:
      enabled: false
    kube-state-metrics:
      enabled: true
    prometheus-node-exporter:
      enabled: true
    prometheus-pushgateway:
      enabled: false
