---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: gateway-api-crds
  namespace: flux-system
spec:
  interval: 1h
  path: ./flux/clusters/single-node/gateway-api-crds
  prune: false
  sourceRef:
    kind: GitRepository
    name: flux-system
