---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: grafana
  namespace: flux-system
spec:
  interval: 1h
  sourceRef:
    kind: GitRepository
    name: flux-system
  path: ./flux/clusters/single-node/grafana
  prune: true
  wait: true
  timeout: 5m
  dependsOn:
    - name: alloy
  decryption:
    provider: sops
    secretRef:
      name: sops-age
