---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: loki
  namespace: flux-system
spec:
  interval: 1h
  sourceRef:
    kind: GitRepository
    name: flux-system
  path: ./flux/clusters/single-node/loki
  prune: true
  wait: true
  timeout: 5m
  dependsOn:
    - name: longhorn
