---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: nextcloud
  namespace: flux-system
spec:
  interval: 1h
  sourceRef:
    kind: GitRepository
    name: flux-system
  path: ./flux/clusters/single-node/nextcloud
  prune: true
  wait: true
  timeout: 10m
  dependsOn:
    - name: longhorn
    - name: gateway
